* {
  max-width: 1280px;
  max-height: 1626px;
}
.header {
  text-align: center;

}
.header-list {
  text-align: center;
  display: inline;
}
.header-link {
  text-align: center;
  display: inline;
  padding-left: 72px;
  text-decoration: none;
  color: #ff0000;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
}
.main-title {
  color: #373737;
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
}
.main-top {
  padding-left: 65px;
  padding-right: 65px;
  color: #373737;
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
.main {
  text-align: center;
}
.main-bottom {
  padding-left: 65px;
  padding-right: 65px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #373737;
}
.main-button {
  
  padding: 20px 40px;
  color: #ffff;
  text-decoration: none;
  background-color: red;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  align-items: center;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  border-radius: 5%;
}

.footer{

width: 1070px;
height: 39px;
display: inline-block;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
align-items: center;
letter-spacing: 2.4px;
color: #373737;
padding-top: 82px;
padding-left: 713px;
padding-right: 1000px;



}